{% extends 'layouts/user.html.twig' %}
{% block title %} CopAnimaux - Adoption {% endblock title %}

{% block page %}
<section class="page">
    <div class="container">
        <h1>
            Adoptions
        </h1>
    </div>
</section>
{% endblock page %}