{% extends 'layouts/user.html.twig' %}
{% block title %} CopAnimaux - Conditions {% endblock title %}

{% block page %}
    <section class="page">
        <div class="container">
            <h1>
                Conditions
            </h1>
        </div>
    </section>
{% endblock page %}