{% extends 'layouts/user.html.twig' %}
{% block title %} CopAnimaux - Contact {% endblock title %}

{% block page %}
    <section class="m-page">
        <div class="container">

            <h1 class="first-title">
                Contact
            </h1>

           <div class="row ">

               {% for message in app.flashes('successMessage') %}
               <div class="alert alert-success">
                   {{ message }}
               </div>
               {% endfor %}

               <div class="col-md-8 mt-4 ">

                    {{ form(contactForm) }}

                </div>
               <div class="col-md-3 ml-4 interest ">
                   <h3 class="p-2 mb-5"> Vous pouvez également nous retrouver au refuge ou nous joindre par téléphone</h3>
                   <p><i class="fa fa-home"></i> Rue de la bergerie 567, 4476 Animaux</p>
                   <p><i class="fa fa-clock-o"></i> Du Lundi au Samedi de 13h à 17h</p>
                   <p><i class="fa fa-phone"></i> 04 657 77 87</p>
                   <p><i class="fa fa-id-card-o" aria-hidden="true"></i> Numéro d'agrément: DF54637348</p>

               </div>

            </div>


        </div>
    </section>

{% endblock page %}