{% extends 'layouts/admin.html.twig' %}

{% block title %} Admin - Décédés{% endblock title %}

{% block page %}
    {#    Titre #}
    <h4>Décédés</h4>
    {# Affichage du message lors de l'ajout d'un pensionnaire #}
    {% for message in app.flashes('addDeceased') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {# Affichage des différents pensionnaires #}
    {% include 'elements/lodgers-card.html.twig' %}

    {# Pagination #}
    <div class="self-pagination row justify-content-center ">
        {{ knp_pagination_render(lodgers) }}
    </div>

{% endblock %}