{% extends 'layouts/admin.html.twig' %}

{% block title %} Admin - Pensionnaires {% endblock title %}

{% block page %}
<!-- Outer Row -->
<div class="row justify-content-center">




</div>

{% endblock page %}
