{% extends 'layouts/admin.html.twig' %}

{% block title %} Admin - Accueil{% endblock title %}

{% block page %}
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Messages</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Titre</th>
                                <th>Message</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for message in messages  %}
                            <tr>
                                <td>{{ message.date | date('d-m-Y') }}</td>
                                <td>{{ message.title }}</td>
                                <td>{{ message.content }}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

{{ form(messageForm) }}
        </div>

    </div>

{% endblock page %}
