{% extends 'layouts/admin.html.twig' %}

{% block title %} Admin - Retrouvés{% endblock title %}

{% block page%}

    <h4>Retrouvés</h4>
    {% include 'elements/lodgers-card.html.twig' %}


    <!-- pagination -->
    <div class="self-pagination row justify-content-center ">
        {{ knp_pagination_render(lodgers) }}
    </div>

{% endblock %}